:root {
  --c-offblack: #213547;
  --c-offwhite: #f9f9f9;
  --c-white: #fff;
  --c-red: #ff3e00;
  --f-sans: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--f-sans);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light;
  color: var(--c-offblack);
  background-color: var(--c-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  display: flex;
  flex-direction: column;
  juustify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

button {
  background-color: var(--c-offwhite);
  border: 1px solid #646cff22;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  padding: 0.5rem 1rem;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
